---
import { EpisodeEntry } from "../components/EpisodeEntry";
import Layout from "../layouts/Layout.astro";
import { getAllEpisodes } from "../lib/episodes";
const episodes = await getAllEpisodes();
---
<Layout>
  <div class="pt-16 pb-12 sm:pb-4 lg:pt-12">
    <div class="lg:px-8">
      <div class="lg:max-w-4xl">
        <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
          <h1 class="text-2xl/7 font-bold text-slate-900">Episodes</h1>
        </div>
      </div>
    </div>
    <div class="divide-y divide-slate-100 sm:mt-4 lg:mt-8 lg:border-t lg:border-slate-100">
      {episodes.map((episode) => (
        <EpisodeEntry episode={episode} />
      ))}
    </div>
  </div>
</Layout>
