---
import "../styles/tailwind.css";
---
<html lang="en" class="h-full bg-white antialiased">
  <head>
    <link rel="preconnect" href="https://cdn.fontshare.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap"
    />
  </head>
  <body class="flex min-h-full">
    <div class="w-full">
      <slot />
    </div>
  </body>
</html>
